body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /* height: 100vh; */
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    padding: 10px;
}

.left-header,
.right-header,
.right-links {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 500px;
    gap: 10px;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
}

.hero-main-text {
    margin-bottom: 0;
}

.hero-image {
    border: 1px solid black;
    width: 300px;
    height: 220px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
}

ul {
    /* this removes the bullet points from links */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
li {
    margin: 10px;
}